{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a class="btn btn-link" href="{{ path('app_contact_index') }}">{{'contact_back_to_list'|trans({},'ui')}}</a>
        {{ include('contact/_delete_form.html.twig') }}
    </div>

{% endblock %}
